# This notebook demonstrates sql capibilities in python

Import the library and check the version

In [2]:
import sqlite3 as lite
connection = lite.connect('student_database.db')
cursor = connection.cursor()
cursor.execute('SELECT SQLITE_VERSION()')
data = cursor.fetchone()
print('Sqlite version is ', data)
connection.close()

Sqlite version is  ('3.21.0',)

Creating a table and injecting data into it

In [32]:
import sqlite3 as lite
connection = lite.connect('student_database.db')
cursor = connection.cursor()
drop_table = '''DROP TABLE IF EXISTS student_info'''
cursor.execute(drop_table)
create_table = ''' CREATE TABLE student_info (student_id INTEGER PRIMARY KEY, student_name VARCHAR(30), student_subject VARCHAR(30), student_gender CHAR(1)) '''
cursor.execute(create_table)
student_data = [('1024', 'Ram', 'Maths', 'M'), 
                ('1025', 'Shyam', 'Geo', 'M'),
                ('1026', 'Sita', 'Maths', 'F'),
                ]

for data in student_data:    
    cursor.execute("INSERT  INTO student_info(student_id, student_name, student_subject, student_gender)VALUES(?,?,?,?)",
                   (data[0], data[1], data[2], data[3]))
connection.commit()

OperationalError: database is locked

NameError: name 'data' is not defined