# This notebook demonstrates sql capibilities in python

Import the library and check the version

In [1]:
import sqlite3 as lite
connection = lite.connect('student_database.db')
cursor = connection.cursor()
cursor.execute('SELECT SQLITE_VERSION()')
data = cursor.fetchone()
print('Sqlite version is ', data)
connection.close()

Sqlite version is  ('3.21.0',)

Creating a table and injecting data into it

In [15]:
import sqlite3 as lite
connection = lite.connect('student_database.db')
cursor = connection.cursor()
drop_table = '''DROP TABLE IF EXISTS student_info'''
cursor.execute(drop_table)
create_table = ''' CREATE TABLE student_info (student_id INTEGER PRIMARY KEY, student_name VARCHAR(30), student_subject VARCHAR(30), student_gender CHAR(1)) '''
cursor.execute(create_table)
student_data = [('1024', 'Ram', 'Maths', 'M'), 
                ('1025', 'Shyam', 'Geo', 'M'),
                ('1026', 'Sita', 'Maths', 'F'),
                ]

for data in student_data:    
    cursor.execute("INSERT  INTO student_info(student_id, student_name, student_subject, student_gender)VALUES(?,?,?,?)",
                   (data[0], data[1], data[2], data[3]))
connection.commit()
connection.close()
print('table:student_info written to student_database')

table:student_info written to student_database

Checking data in table

In [6]:
import sqlite3 as lite
connection = lite.connect('student_database.db')
cursor = connection.cursor()
cursor.execute('SELECT * FROM student_info')
table_data = cursor.fetchall()
for data in table_data:
    print(data)
connection.close()

(1024, 'Ram', 'Maths', 'M')
(1025, 'Shyam', 'Geo', 'M')
(1026, 'Sita', 'Maths', 'F')

Checking data with condition

In [10]:
import sqlite3 as lite
connection = lite.connect('student_database.db')
cursor = connection.cursor()
cursor.execute('SELECT * FROM student_info WHERE student_subject = ? AND student_gender = ? ', ('Maths','F'))
table_data = cursor.fetchall()
for data in table_data:
    print(data)
connection.close()

(1026, 'Sita', 'Maths', 'F')

Checking data with condition_2

In [11]:
import sqlite3 as lite
connection = lite.connect('student_database.db')
cursor = connection.cursor()
cursor.execute('SELECT * FROM student_info WHERE student_subject = ? OR student_gender = ? ', ('Maths','F'))
table_data = cursor.fetchall()
for data in table_data:
    print(data)
connection.close()

(1024, 'Ram', 'Maths', 'M')
(1026, 'Sita', 'Maths', 'F')

Creating another table

In [14]:
import sqlite3 as lite
connection = lite.connect('student_database.db')
cursor = connection.cursor()
drop_table = '''DROP TABLE IF EXISTS student_info_2'''
cursor.execute(drop_table)
create_table = ''' CREATE TABLE student_info_2 (student_id INTEGER PRIMARY KEY, student_name VARCHAR(30), student_subject VARCHAR(30), student_gender CHAR(1)) '''
cursor.execute(create_table)
student_data = [('1027', 'Ramlal', 'Maths', 'M'), 
                ('1028', 'Shyamlal', 'Geo', 'M'),
                ('1029', 'Sitamaa', 'Maths', 'F'),
                ]

for data in student_data:    
    cursor.execute("INSERT  INTO student_info_2(student_id, student_name, student_subject, student_gender)VALUES(?,?,?,?)",
                   (data[0], data[1], data[2], data[3]))
connection.commit()
connection.close()
print('table:student_info_2 written to student_database')

table:student_info_2 written to student_database

Checking data in student_info_2 table

In [17]:
import sqlite3 as lite
connection = lite.connect('student_database.db')
cursor = connection.cursor()
cursor.execute('SELECT * FROM student_info_2')
table_data = cursor.fetchall()
for data in table_data:
    print(data)
connection.close()

(1027, 'Ramlal', 'Maths', 'M')
(1028, 'Shyamlal', 'Geo', 'M')
(1029, 'Sitamaa', 'Maths', 'F')

Joining 2 tables

In [18]:
import sqlite3 as lite
connection = lite.connect('student_database.db')
cursor = connection.cursor()
cursor.execute('SELECT * FROM student_info UNION ALL SELECT * FROM student_info_2')
table_data = cursor.fetchall()
for data in table_data:
    print(data)
connection.close()

(1024, 'Ram', 'Maths', 'M')
(1025, 'Shyam', 'Geo', 'M')
(1026, 'Sita', 'Maths', 'F')
(1027, 'Ramlal', 'Maths', 'M')
(1028, 'Shyamlal', 'Geo', 'M')
(1029, 'Sitamaa', 'Maths', 'F')